In [33]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
pd.options.display.max_columns = 100
%matplotlib inline

### Load data files

In [17]:
conteststandingsres = pd.read_csv('~/google drive/data science/data/NBA data/data_warehouse/conteststanding.csv')
playerresults = pd.read_csv('~/google drive/data science/data/NBA data/data_warehouse/playerres.csv')
contestdraft = pd.read_csv('~/google drive/data science/data/NBA data/data_warehouse/contestdraft.csv')
rotoproj = pd.read_csv('~/google drive/data science/data/NBA data/data_warehouse/rotoprojection.csv')
dfnproj = pd.read_csv('~/google drive/data science/data/NBA data/data_warehouse/dfnprojection.csv')

### Exploring dataset shapes

In [18]:
conteststandingsres.shape

(4533822, 14)

In [19]:
playerresults.shape

(3076, 24)

In [20]:
contestdraft.shape

(37426, 6)

In [21]:
rotoproj.shape

(2586, 9)

In [22]:
dfnproj.shape

(4845, 31)

### Dataset heads

In [23]:
conteststandingsres.head()

,Contest_Date,Contest_Name,Rank,EntryId,EntryName,Player1,Player2,Player3,Player4,Player5,Player6,Player7,Player8,Points
0,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,1,935183394,adriank27 (2/3),Lou Williams,Blake Griffin,Klay Thompson,Draymond Green,Kentavious Caldwell-Pope,Willie Cauley-Stein,Patrick McCaw,Brandon Ingram,328.00
1,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,1,935613945,lutzamillion (5/5),Lou Williams,Blake Griffin,Klay Thompson,Draymond Green,Kentavious Caldwell-Pope,Willie Cauley-Stein,Patrick McCaw,Brandon Ingram,328.00
2,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,1,935743537,afairbanks002 (2/6),Lou Williams,Blake Griffin,Klay Thompson,Draymond Green,Kentavious Caldwell-Pope,Willie Cauley-Stein,Patrick McCaw,Brandon Ingram,328.00
3,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,4,935512705,vtran1891,Lou Williams,Blake Griffin,Klay Thompson,Draymond Green,Kentavious Caldwell-Pope,Willie Cauley-Stein,Kyle Kuzma,Patrick McCaw,325.25
4,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,4,935666886,aron415 (2/14),Lou Williams,Blake Griffin,Klay Thompson,Draymond Green,Kentavious Caldwell-Pope,Willie Cauley-Stein,Kyle Kuzma,Patrick McCaw,325.25

In [24]:
playerresults.head()

,Contest_Date,Player,Pos,Team,Opp,Def v Pos,VegasPts,Salary,Floor,Ceiling,...,MPG,Proj Mins,FC Proj,My Proj,Exposure,Con.,Value,Mins,Score,Val
0,20171127,James Harden,PG/SGPGSG,HOU,vs BKN,28th,121.50,11800,39.4,81.8,...,35.4,34.10,57.59,57.59,%,79,4.9,35.0,73.00,6.2
1,20171127,LeBron James,SF/PFSFPF,CLE,@ PHI,24th,111.00,11400,31.3,84.1,...,37.3,35.80,53.95,53.95,%,73,4.7,31.0,58.00,5.1
2,20171127,Joel Embiid,C,PHI,vs CLE,19th,113.00,10400,27.2,76.5,...,28.7,29.46,48.34,48.34,%,69,4.6,32.0,44.75,4.3
3,20171127,Ben Simmons,PG/SFPGSF,PHI,vs CLE,18th,113.00,10000,32.0,59.6,...,34.6,33.50,43.85,43.85,%,83,4.4,35.0,29.00,2.9
4,20171127,Blake Griffin,PF/CPFC,LAC,vs LAL,16th,110.25,9000,30.4,58.0,...,35.3,36.63,42.20,42.20,%,82,4.7,36.0,50.25,5.6

In [25]:
contestdraft.head()

,Contest_Date,Contest_Name,Player,Roster.Position,FPTS,X.Drafted
0,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,Blake Griffin,PF,50.25,93.09%
1,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,Klay Thompson,SG,36.25,88.38%
2,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,Draymond Green,F,34.00,76.48%
3,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,Lou Williams,PG,53.50,71.73%
4,20171127,$8.00entry_NBA $250K West Coast Special [$50K ...,DeAndre Jordan,UTIL,19.75,57.66%

In [26]:
rotoproj.head()

,Contest_Date,player,salary,team,pos,opp,ceil,floor,fpts
0,2017-11-27,Patty Mills,4300,SAS,PG,DAL,28.7868,9.8532,19.32
1,2017-11-27,J.J. Barea,4000,DAL,PG/SG,SAS,29.4480,11.4520,20.45
2,2017-11-27,Tony Parker,3900,SAS,PG,DAL,25.2969,6.5231,15.91
3,2017-11-27,Manu Ginobili,3700,SAS,SG/SF,DAL,22.4940,5.1060,13.80
4,2017-11-27,Dirk Nowitzki,4300,DAL,PF/C,SAS,34.0737,8.7863,21.43

In [27]:
dfnproj.head()

,Contest_Date,Player Name,Likes,Inj,Pos,Salary,Team,Opp,Rest,PS,...,L5 FP,S FP,Floor FP,Ceil FP,Proj Min,Proj FP,Proj Val,Actual Min,Actual FP,Actual Val
0,2017-11-27,James Harden,15.0,NaN,PG/SG,11800,HOU,BKN,1,NaN,...,57.8,57.0,44.6,69.4,34.5,59.5,5.0,35.8,73.0,6.2
1,2017-11-27,LeBron James,20.0,NaN,SF/PF,11400,CLE,@PHI,2,109.0,...,62.5,57.0,41.7,72.3,37.0,55.7,4.9,31.0,58.0,5.1
2,2017-11-27,Joel Embiid,14.0,NaN,C,10400,PHI,CLE,1,109.0,...,51.3,45.6,31.1,60.2,32.0,52.0,5.0,32.8,44.8,4.3
3,2017-11-27,Ben Simmons,14.0,NaN,PG/SF,10000,PHI,CLE,1,109.0,...,51.0,47.7,40.3,55.0,36.0,50.2,5.0,35.1,29.0,2.9
4,2017-11-27,Stephen Curry,NaN,O,PG/SG,9800,GSW,SAC,1,NaN,...,51.5,46.4,37.7,55.0,0.0,0.0,0.0,0.0,0.0,0.0

### Dataset Descriptions

In [28]:
conteststandingsres.describe()

       Contest_Date          Rank       EntryId        Points
count  4.533822e+06  4.533822e+06  4.533822e+06  4.533822e+06
mean   2.017120e+07  2.179920e+04  9.540372e+08  2.478474e+02
std    3.256692e+01  1.957948e+04  1.234081e+07  3.584577e+01
min    2.017113e+07  1.000000e+00  9.349155e+08 -5.000000e-01
25%    2.017120e+07  5.364000e+03  9.410286e+08  2.267500e+02
50%    2.017121e+07  1.743600e+04  9.561676e+08  2.485000e+02
75%    2.017122e+07  3.337700e+04  9.650784e+08  2.705000e+02
max    2.017123e+07  1.253290e+05  9.749091e+08  3.887500e+02

In [29]:
playerresults.describe()

,Contest_Date,VegasPts,Salary,Floor,Ceiling,FPG,FPPM,USG,FGA,MPG,Proj Mins,FC Proj,My Proj,Con.,Value,Mins,Score,Val
count,3.076000e+03,3076.000000,3076.000000,3076.000000,3076.000000,3070.000000,3070.000000,3070.000000,3070.000000,3070.000000,3076.000000,3076.000000,3076.000000,3076.000000,3076.000000,3065.000000,3065.000000,2937.000000
mean,2.017120e+07,104.590702,4719.083225,9.293628,36.934948,20.097915,0.887798,19.471303,7.843518,21.940358,22.667383,20.697419,20.697419,51.328023,4.144311,22.307993,20.570065,4.358291
std,3.461942e+01,5.413577,1778.499396,8.857148,15.526831,10.619107,0.220055,5.737995,4.477541,8.294471,9.956834,11.911587,11.911587,19.771294,1.519941,10.281947,13.957167,2.116216
min,2.017113e+07,92.750000,3000.000000,0.000000,0.000000,0.400000,0.070000,0.000000,0.000000,1.000000,-0.550000,-0.600000,-0.600000,0.000000,-0.200000,0.000000,-1.000000,0.100000
25%,2.017120e+07,101.000000,3400.000000,1.600000,26.600000,12.100000,0.740000,15.500000,4.400000,15.600000,16.000000,12.470000,12.470000,40.000000,3.500000,15.000000,10.000000,2.800000
50%,2.017121e+07,104.250000,4000.000000,7.500000,35.800000,18.000000,0.870000,18.800000,7.000000,22.100000,24.020000,19.410000,19.410000,56.000000,4.600000,23.000000,18.500000,4.300000
75%,2.017122e+07,108.000000,5600.000000,14.400000,46.300000,26.500000,1.010000,23.000000,10.400000,29.000000,31.000000,28.032500,28.032500,66.000000,5.100000,30.000000,28.750000,5.700000
max,2.017123e+07,121.500000,11900.000000,50.600000,98.100000,58.200000,2.650000,42.700000,21.400000,37.500000,41.000000,70.970000,70.970000,88.000000,9.700000,48.000000,81.000000,14.800000

In [30]:
contestdraft.describe()

       Contest_Date          FPTS
count  3.742600e+04  37426.000000
mean   2.017120e+07     18.678953
std    3.297139e+01     15.256734
min    2.017113e+07     -1.000000
25%    2.017120e+07      5.500000
50%    2.017121e+07     17.500000
75%    2.017122e+07     28.250000
max    2.017123e+07     81.000000

In [31]:
rotoproj.describe()

             salary         ceil        floor         fpts
count   2586.000000  2280.000000  2280.000000  2586.000000
mean    4629.389018    32.491328    10.154935    18.800387
std     1809.641750    16.213435     7.637076    12.809118
min        0.000000     0.558600     0.000000     0.000000
25%     3300.000000    20.539175     4.531375     9.857500
50%     3900.000000    30.449850     8.230800    17.420000
75%     5500.000000    42.992400    13.804000    26.775000
max    11900.000000    88.418700    49.128600    66.390000

In [32]:
dfnproj.describe()

,Likes,Salary,PS,USG,PER,Opp Pace,Opp DEff,L2 FGA,L5 FGA,S FGA,...,L5 FP,S FP,Floor FP,Ceil FP,Proj Min,Proj FP,Proj Val,Actual Min,Actual FP,Actual Val
count,1821.000000,4845.000000,4482.000000,3271.000000,3271.000000,4845.000000,4845.000000,4845.000000,4845.000000,4845.000000,...,4845.000000,4845.000000,4845.000000,4845.000000,4845.000000,4845.000000,4845.000000,4674.000000,4845.000000,4845.000000
mean,5.759473,4305.098039,104.837573,18.619077,14.446652,100.027451,104.973375,6.497833,6.330031,6.215480,...,16.146687,15.803323,9.155521,22.448132,14.010630,12.568669,2.482332,14.534446,12.631971,2.574303
std,5.440419,1715.966941,5.560961,5.405948,5.093032,2.595228,2.934517,5.557804,5.296441,5.055371,...,12.980944,12.366800,9.844671,15.331729,13.754799,13.719069,2.311257,13.619057,14.824969,2.692626
min,0.000000,3000.000000,93.000000,7.000000,1.000000,95.000000,97.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-5.200000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-0.300000
25%,1.000000,3000.000000,101.000000,15.000000,11.000000,98.000000,103.000000,2.000000,2.000000,2.000000,...,5.100000,5.900000,0.800000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,3600.000000,104.000000,18.000000,14.000000,99.000000,106.000000,5.000000,5.000000,5.000000,...,14.300000,13.800000,6.800000,22.000000,14.500000,10.900000,3.200000,14.500000,7.800000,2.100000
75%,8.000000,5000.000000,109.000000,22.000000,18.000000,102.000000,108.000000,10.000000,9.000000,9.000000,...,24.600000,24.200000,15.000000,32.900000,26.500000,22.200000,4.700000,26.600000,22.000000,4.700000
max,33.000000,11900.000000,121.000000,37.000000,32.000000,107.000000,110.000000,31.000000,26.000000,21.000000,...,67.500000,58.900000,49.500000,72.300000,41.000000,65.600000,8.700000,48.100000,81.000000,14.800000

### Dataset Dtypes

In [34]:
conteststandingsres.dtypes

Contest_Date      int64
Contest_Name     object
Rank              int64
EntryId           int64
EntryName        object
Player1          object
Player2          object
Player3          object
Player4          object
Player5          object
Player6          object
Player7          object
Player8          object
Points          float64
dtype: object

In [35]:
playerresults.dtypes

Contest_Date      int64
Player           object
Pos              object
Team             object
Opp              object
Def v Pos        object
VegasPts        float64
Salary            int64
Floor           float64
Ceiling         float64
FPG             float64
FPPM            float64
USG             float64
FGA             float64
MPG             float64
Proj Mins       float64
FC Proj         float64
My Proj         float64
Exposure         object
Con.              int64
Value           float64
Mins            float64
Score           float64
Val             float64
dtype: object

In [36]:
contestdraft.dtypes

Contest_Date         int64
Contest_Name        object
Player              object
Roster.Position     object
FPTS               float64
X.Drafted           object
dtype: object

In [37]:
rotoproj.dtypes

Contest_Date     object
player           object
salary            int64
team             object
pos              object
opp              object
ceil            float64
floor           float64
fpts            float64
dtype: object

In [38]:
dfnproj.dtypes

Contest_Date     object
Player Name      object
Likes           float64
Inj              object
Pos              object
Salary            int64
Team             object
Opp              object
Rest             object
PS              float64
USG             float64
PER             float64
Opp Pace          int64
Opp DEff          int64
Opp DvP          object
L2 FGA            int64
L5 FGA            int64
S FGA             int64
L2 Min            int64
L5 Min            int64
S Min             int64
L5 FP           float64
S FP            float64
Floor FP        float64
Ceil FP         float64
Proj Min        float64
Proj FP         float64
Proj Val        float64
Actual Min      float64
Actual FP       float64
Actual Val      float64
dtype: object

### Aggregating columns

In [40]:
playerresults.groupby('Player').agg({'MPG': 'mean'})

                           MPG
Player
Aaron Brooks          5.200000
Aaron Gordon         32.260000
Abdel Nader           6.966667
Adreian Payne         9.400000
Al Horford           32.100000
Al Jefferson         13.800000
Al-Farouq Aminu      29.162500
Alec Burks           18.460000
Alex Abrines         16.462500
Alex Caruso           7.800000
Alex Len             21.930000
Alex Poythress        3.000000
Allen Crabbe         27.350000
Amir Johnson         14.925000
Andre Drummond       32.609091
Andre Iguodala       25.833333
Andre Roberson       25.225000
Andrew Bogut          8.080000
Andrew Harrison      16.790000
Andrew Wiggins       36.263636
Ante Zizic            3.850000
Anthony Davis        34.950000
Anthony Tolliver     18.000000
Antonio Blakeney     15.240000
Antonius Cleveland    6.275000
Aron Baynes          17.570000
Arron Afflalo        11.911111
Austin Rivers        32.777778
Avery Bradley        31.200000
Bam Adebayo          15.840000
...                        ...
Trevor Ariza         34.371429
Trevor Booker        21.371429
Trey Lyles           12.636364
Tristan Thompson     19.020000
Troy Daniels         15.500000
Tyler Cavanaugh      13.262500
Tyler Dorsey          6.500000
Tyler Ennis           4.950000
Tyler Johnson        27.211111
Tyler Ulis           22.718182
Tyler Zeller         17.950000
Tyreke Evans         29.000000
Tyson Chandler       25.055556
Tyus Jones           16.618182
Udonis Haslem         3.300000
Victor Oladipo       33.255556
Vince Carter         12.240000
Wayne Ellington      20.190000
Wesley Iwundu        10.900000
Wesley Johnson       24.600000
Wesley Matthews      34.091667
Will Barton          29.880000
Willie Cauley-Stein  24.660000
Willie Reed           9.985714
Wilson Chandler      29.762500
Yogi Ferrell         28.041667
Zach Collins         10.020000
Zach Randolph        24.790909
Zaza Pachulia        14.120000
Zhou Qi               5.000000

[412 rows x 1 columns]